<mat-card class="card">
  <mat-card class="card">
    <mat-card-title class="mat-mdc-card-title">Novo Cliente</mat-card-title>
  </mat-card>
  <mat-card class="card">
    <div class="form-row">
      <div class="col-xs-12">
        <form [formGroup]="formGroup">
          <div class="col-xs-12">
            <mat-form-field appearance="outline" class="form-group col-md-6">
              <mat-label>Nome</mat-label>
              <input class="form-control" matInput formControlName="nome">
              <mat-error *ngIf="formGroup.get('nome')?.invalid && formGroup.get('nome')?.touched">O nome é obrigatório.
              </mat-error>
            </mat-form-field>
            <mat-form-field appearance="outline" class="form-group col-md-6">
              <mat-label>CNPJ</mat-label>
              <input maxlength="14" matInput formControlName="cnpj">
              <mat-error *ngIf="formGroup.get('cnpj')?.invalid && formGroup.get('cnpj')?.touched">O CNPJ é obrigatório.
              </mat-error>
            </mat-form-field>

            <div formGroupName="endereco">
              <mat-form-field appearance="outline" class="form-group col-md-3">
                <mat-label>Rua</mat-label>
                <input maxlength="255" matInput formControlName="rua">
                <mat-error
                  *ngIf="formGroup?.get('endereco')?.get('rua')?.invalid && formGroup?.get('endereco')?.get('rua')?.touched">
                  O Rua
                  é
                  obrigatório.
                </mat-error>
              </mat-form-field>
              <mat-form-field appearance="outline" class="form-group col-md-3">
                <mat-label>Número</mat-label>
                <input maxlength="10" matInput formControlName="numero">
                <mat-error
                  *ngIf="formGroup?.get('endereco')?.get('numero')?.invalid && formGroup?.get('endereco')?.get('numero')?.touched">
                  O
                  Número
                  é
                  obrigatório.
                </mat-error>
              </mat-form-field>
              <mat-form-field appearance="outline" class="form-group col-md-3">
                <mat-label>Bairro</mat-label>
                <input matInput maxlength="255" formControlName="bairro">
                <mat-error
                  *ngIf="formGroup?.get('endereco')?.get('bairro')?.invalid && formGroup?.get('endereco')?.get('bairro')?.touched">
                  A
                  Bairro
                  é
                  obrigatória.
                </mat-error>
              </mat-form-field>
              <mat-form-field appearance="outline" class="form-group col-md-3">
                <mat-label>Cidade</mat-label>
                <input matInput maxlength="255" formControlName="cidade">
                <mat-error
                  *ngIf="formGroup?.get('endereco')?.get('cidade')?.invalid && formGroup?.get('endereco')?.get('cidade')?.touched">
                  O
                  Cidade
                  é
                  obrigatório.
                </mat-error>
              </mat-form-field>
              <mat-form-field appearance="outline" class="form-group col-md-3">
                <mat-label>Estado:</mat-label>
                <input maxlength="2" matInput formControlName="estado">
                <mat-error
                  *ngIf="formGroup?.get('endereco')?.get('estado')?.invalid && formGroup?.get('endereco')?.get('estado:')?.touched">
                  O
                  Estado é
                  obrigatório.
                </mat-error>
              </mat-form-field>
              <mat-form-field appearance="outline" class="form-group col-md-3">
                <mat-label>Cep:</mat-label>
                <input maxlength="8" matInput formControlName="cep">
                <mat-error
                  *ngIf="formGroup?.get('endereco')?.get('cep')?.invalid && formGroup?.get('endereco')?.get('cep')?.touched">
                  O CEP é
                  obrigatório.
                </mat-error>
              </mat-form-field>
              <mat-form-field appearance="outline" class="form-group col-md-3">
                <mat-label>Latitude</mat-label>
                <input matInput formControlName="latitude">
                <mat-error
                  *ngIf="formGroup?.get('endereco')?.get('latitude')?.invalid && formGroup?.get('endereco')?.get('latitude')?.touched">
                  A latitude é obrigatória.
                </mat-error>
              </mat-form-field>

              <mat-form-field appearance="outline" class="form-group col-md-3">
                <mat-label>Longitude</mat-label>
                <input matInput formControlName="longitude">
                <mat-error
                  *ngIf="formGroup?.get('endereco')?.get('longitude')?.invalid && formGroup?.get('endereco')?.get('longitude')?.touched">
                  A longitude é obrigatória.
                </mat-error>
              </mat-form-field>
            </div>
          </div>
        </form>
        <mat-card-content class="card-body">
          <div class="row">
            <div class="col-xs-12">
              <button class="btn btn-success" type="submit" (click)="salvar()">Salvar</button>
              <button class="btn btn-danger" type="button">Cancelar</button>
            </div>
          </div>
        </mat-card-content>
      </div>
    </div>
  </mat-card>
</mat-card>
